<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row" style="height: 50px;width: 450px;position: absolute;top:0;right:0;left:0;margin:275px auto;">
      <div class="col-md-1"></div>
      <div class="col-md-2" id="stage1"></div>
      <div class="col-md-1" style="height: 30px;border-bottom: 2px dashed grey"></div>
      <div class="col-md-2" id="stage2"></div>
      <div class="col-md-1" style="height: 30px;border-bottom: 2px dashed grey"></div>
      <div class="col-md-2" id="stage3"></div>
      <div class="col-md-1" style="height: 30px;border-bottom: 2px dashed grey"></div>
      <div class="col-md-2" id="stage4"></div>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="redWord">快速資料填寫</h2>
  <h3 class="redWord">要保人(飼主)</h3>
  <hr>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      請填寫中文姓名，以保障您的權益
    </div>
    <div class="col-sm-12 col-md-6">
      <form>
        <div class="form-row">
          <div class="form-group col-md-12">
            <input disabled type="email" class="form-control" id="inputEmail4" [value]="Email">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input disabled type="text" class="form-control" id="inputAddress" placeholder="姓" name="LastName" [(ngModel)]="LastName">
          </div>
          <div class="form-group col-md-6">
            <input disabled type="text" class="form-control" id="inputAddress" placeholder="名" name="FirstNmae" [(ngModel)]="FirstName">
          </div>
        </div>
        <div class="form-group">
          <input disabled type="text" class="form-control" id="inputAddress2" placeholder="身分證字號" name="TaiwanID" [(ngModel)]="TaiwanID">
        </div>
        <div class="form-row">
          <div class="form-group col-md-1">
          生日
          </div>
          <div class="form-group col-md-5">
            <select disabled (change)="getYear($event)" id="inputState" class="form-control">
              <option selected>1990</option>
              <!-- <option [value]="2000">2000</option>
              <option [value]="2001">2001</option>
              <option [value]="2002">2002</option> -->
            </select>
          </div>
          <div class="form-group col-md-3">
            <select disabled (change)="getMonth($event)" id="inputState" class="form-control">
              <option selected>1</option>
              <!-- <option [value]="1">1</option>
              <option [value]="2">2</option>
              <option [value]="3">3</option> -->
            </select>
          </div>
          <div class="form-group col-md-3">
            <select disabled (change)="getDay($event)" id="inputState" class="form-control">
              <option selected>1</option>
              <!-- <option [value]="1">1</option>
              <option [value]="2">2</option>
              <option [value]="3">3</option> -->
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h4>聯絡資料</h4>
      請填入正確地址，以利保單與活動贈品寄送
    </div>
    <div class="col-sm-12 col-md-6">
      <form [formGroup]="form2part">
        <div class="form-row">
          <div class="form-group col-md-12">
            <input formControlName="phoneControl" type="text" class="form-control" id="inputEmail4" placeholder="行動電話" name="Phone">
            <div class="alert alert-danger" *ngIf="form2part.get('phoneControl').touched && form2part.get('phoneControl').invalid">Required</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <input formControlName="Address1Control" type="text" class="form-control" id="inputAddress" placeholder="縣市" name="Address1" >
            <div class="alert alert-danger" *ngIf="form2part.get('Address1Control').touched && form2part.get('Address1Control').invalid">Required</div>
          </div>
          <div class="form-group col-md-4">
            <input formControlName="Address2Control" type="text" class="form-control" id="inputAddress2" placeholder="區" name="Address2" >
            <div class="alert alert-danger" *ngIf="form2part.get('Address2Control').touched && form2part.get('Address2Control').invalid">Required</div>
          </div>
          <div class="form-group col-md-4">
            <input formControlName="Address3Control" type="text" class="form-control" id="inputAddress2" placeholder="郵遞區號" name="Address3">
            <div class="alert alert-danger" *ngIf="form2part.get('Address3Control').touched && form2part.get('Address3Control').invalid">Required</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <input formControlName="Address4Control" type="text" class="form-control" id="inputCity" placeholder="地址" name="Address4" >
            <div class="alert alert-danger" *ngIf="form2part.get('Address4Control').touched && form2part.get('Address4Control').invalid">Required</div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <h3 class="redWord">寵物</h3>
  <hr>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      請詳細填寫，以保障您的權益
    </div>
    <div class="col-sm-12 col-md-6">
      <form>
        <div class="form-row">
          <div class="form-group col-md-2">暱稱</div>
          <div class="form-group col-md-4">
            <input disabled type="email" class="form-control" id="inputEmail4" [value]="nicknameForm">
          </div>
          <div class="form-group col-md-2">種類</div>
          <div class="form-group col-md-4">
            <input disabled type="email" class="form-control" id="inputEmail4" [value]="categoryChooseForm">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">品種</div>
          <div class="form-group col-md-4">
            <input disabled type="email" class="form-control" id="inputEmail4" [value]="specieChooseForm">
          </div>
          <div class="form-group col-md-2">性別</div>
          <div class="form-group col-md-4">
            <input disabled type="email" class="form-control" id="inputEmail4" [value]="genderChooseForm">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-1">
          生日
          </div>
          <div class="form-group col-md-5">
            <select (change)="getPetYear($event)" id="inputState" class="form-control">
              <option selected>西元年</option>
              <option [value]="2016">2016</option>
              <option [value]="2017">2017</option>
              <option [value]="2018">2018</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <select (change)="getPetMonth($event)" id="inputState" class="form-control">
              <option selected>月</option>
              <option [value]="1">1</option>
              <option [value]="2">2</option>
              <option [value]="3">3</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <select (change)="getPetDay($event)" id="inputState" class="form-control">
              <option selected>日</option>
              <option [value]="1">1</option>
              <option [value]="2">2</option>
              <option [value]="3">3</option>
            </select>
          </div>
          <div style="margin-bottom:15px;" class="redWord">{{categoryChooseForm}}須滿8週~8歲6個月(未滿)</div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">體重</div>
          <div class="form-group col-md-6">
            <input type="email" class="form-control" id="inputEmail4" placeholder="請輸入體重" name="PetWeight" [(ngModel)]="PetWeight">
          </div>
          <div class="form-group col-md-4">公斤</div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">寵物近照</div>
          <div class="form-group col-md-9">
            <input type="email" class="form-control" id="inputEmail4" placeholder="限JPG GIF PNG">
          </div>
          <div style="margin-bottom:15px;" class="redWord">寵物照片需露出臉部正面及四肢、清晰可辨視</div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">證明文件</div>
          <div class="form-group col-md-9">
            <select id="inputState" class="form-control">
              <option selected>請選取證明文件</option>
              <option>...</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
          寵物保險起保日
          </div>
          <div class="form-group col-md-3">
            <select (change)="getStartYear($event)" id="inputState" class="form-control">
              <option selected>年</option>
              <option [value]="2019">2019</option>
              <option [value]="2020">2020</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <select (change)="getStartMonth($event)" id="inputState" class="form-control">
              <option selected>月</option>
              <option [value]="8">8</option>
              <option [value]="9">9</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <select (change)="getStartDay($event)" id="inputState" class="form-control">
              <option selected>日</option>
              <option [value]="15">15</option>
              <option [value]="30">30</option>
            </select>
          </div>
          <div class="form-group">
            <div class="redWord">本保險為一年期，起保日凌晨0點生效</div>
            <br>
            如寵物在保單生效日起發生一般疾病有30天的等待期，癌症則有90天的等待期，一般意外傷害則不受等待期限制
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox form-check">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">同意自動續保(若未勾選視為不同意)</label>
            </div>
          </div>
          <div class="form-group">
            <a class="redWord" href="#">點此看續保費率</a>
            要保人同意自動續約，須回傳自動續約授權書(於訂單成立通知信附件下載)，依條款之約定於保險期間屆滿時，不需再次提供要保資料、證明文件，即可逐年自動辦理續約，並收取續約保險費，保障不中斷，保險公司擁有續保核准權利
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8"></div>
          <div class="form-group col-md-4">
            <h5>保費：<span class="redWord">{{ programMoney }}</span></h5>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
      <div id="finalCheckBox" class="custom-control custom-checkbox form-check col-md-12">
        <input type="checkbox" class="custom-control-input" id="customCheck2">
        <label class="custom-control-label" for="customCheck2">我已閱讀<a href="https://www.careline.com.tw/CareLineBranding/branding-mbr/policyTerms/viewPdfByKey?key=PetTerms.MingTai&time=20190605101000">保單條款</a> ， 並同意遵守保單條款的條件和除外責任，及上述各聲明事項。我並已閱讀<a href="https://www.careline.com.tw/legal/obligations">保險代理人履行個人資料保護法告知義務內容</a>，瞭解 貴公司蒐集處理或利用本人個人資料之目的及用途。</label>
      </div>
  </div>

  <div class="text-center" style="margin: 50px;">
    <h2 class="redWord">主動告知事項</h2>
    <hr>
    <h6 class="text-left redWord">【敬請對下列告知事項應據實告知並親自填寫，如有為隱匿或遺漏不為說明，或為不實的說明，足以影響本公司對危險的估計，依保險法第六十四條規定保險公司得解除契約。】</h6>
    <div class="form-row">
      
      <div class="text-left form-group col-md-2"></div>
      <div class="text-left form-group col-md-8">
        <form>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline1">否</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline2">是</label>
          </div>
          1. 是否有投保其他寵物保險？
        </form>
      </div>
      <div class="text-left form-group col-md-2"></div>
      
    </div>
    <div class="form-row">
      <div class="text-left form-group col-md-2"></div>
      <div class="text-left form-group col-md-8">
        <form>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline21" name="customRadioInline21" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline21">否</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline22" name="customRadioInline21" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline22">是</label>
          </div>
          2. 過去一年內被保險寵物是否服用或施打疫苗（含狂犬病疫苗)？
        </form>
      </div>
      <div class="text-left form-group col-md-2"></div>
    </div>
    <div class="form-row">
      <div class="text-left form-group col-md-2"></div>
      <div class="text-left form-group col-md-8">
        <form>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline31" name="customRadioInline31" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline31">否</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline32" name="customRadioInline31" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline32">是</label>
          </div>
          3. 被保險寵物最近二個月內是否曾因受傷或生病接受醫師治療、診療或用藥？
        </form>
      </div>
      <div class="text-left form-group col-md-2"></div>
    </div>
    <div class="form-row">
      <div class="text-left form-group col-md-2"></div>
      <div class="text-left form-group col-md-8">
        <form>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline41" name="customRadioInline41" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline41">否</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline42" name="customRadioInline41" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline42">是</label>
          </div>
          4. 目前被保險寵物身體是否有以下障礙(失明/四肢缺陷/出血、腹瀉/耳聾)？
        </form>
      </div>
      <div class="text-left form-group col-md-2"></div>
    </div>
    <div class="form-row">
      <div class="text-left form-group col-md-2"></div>
      <div class="text-left form-group col-md-8">
        <form>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline51" name="customRadioInline51" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline51">否</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline52" name="customRadioInline51" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline52">是</label>
          </div>
          5. 被保險寵物投保時如有提供體檢證明，體檢內容是否有異常項目？
        </form>
      </div>
      <div class="text-left form-group col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <a href="/"><button style="width:100%;border-radius:25px; border: 1px solid grey;" type="button" class="btn btn-light">回方案選擇</button></a>
      </div>
      <div class="col-md-4">
        <a href="/datacheck"><button (click)="SaveToStroage()" style="width:100%;border-radius:25px;" type="button" class="btn btn-danger">下一步</button></a>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

