<div class="jumbotron jumbotron-fluid">
</div>

<div class="container">
  <h2>快速資料填寫</h2>
  <h3>要保人(飼主)</h3>
  <hr>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      請填寫中文姓名，以保障您的權益
    </div>
    <div class="col-sm-12 col-md-6">
      <form>
        <div class="form-row">
          <div class="form-group col-md-12">
            <input disabled type="email" class="form-control" id="inputEmail4" value="examle@example.com">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="inputAddress" placeholder="姓">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="inputAddress" placeholder="名">
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="inputAddress2" placeholder="身分證字號">
        </div>
        <div class="form-row">
          <div class="form-group col-md-1">
          生日
          </div>
          <div class="form-group col-md-5">
            <select id="inputState" class="form-control">
              <option selected>西元年</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <select id="inputState" class="form-control">
              <option selected>月</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <select id="inputState" class="form-control">
              <option selected>日</option>
              <option>...</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h4>聯絡資料</h4>
      請填入正確地址，以利保單與活動贈品寄送
    </div>
    <div class="col-sm-12 col-md-6">
      <form>
        <div class="form-row">
          <div class="form-group col-md-12">
            <input type="email" class="form-control" id="inputEmail4" placeholder="行動電話">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <input type="text" class="form-control" id="inputAddress" placeholder="縣市">
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control" id="inputAddress2" placeholder="區">
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control" id="inputAddress2" placeholder="郵遞區號">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <input type="text" class="form-control" id="inputCity" placeholder="地址">
          </div>
        </div>
      </form>
    </div>
  </div>

  <h3>寵物</h3>
  <hr>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      請詳細填寫，以保障您的權益
    </div>
    <div class="col-sm-12 col-md-6">
      <form>
        <div class="form-row">
          <div class="form-group col-md-2">暱稱</div>
          <div class="form-group col-md-4">
            <input disabled type="email" class="form-control" id="inputEmail4" [value]="nicknameForm">
          </div>
          <div class="form-group col-md-2">種類</div>
          <div class="form-group col-md-4">
            <input disabled type="email" class="form-control" id="inputEmail4" [value]="categoryChooseForm">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">品種</div>
          <div class="form-group col-md-4">
            <input disabled type="email" class="form-control" id="inputEmail4" [value]="specieChooseForm">
          </div>
          <div class="form-group col-md-2">性別</div>
          <div class="form-group col-md-4">
            <input disabled type="email" class="form-control" id="inputEmail4" [value]="genderChooseForm">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-1">
          生日
          </div>
          <div class="form-group col-md-5">
            <select id="inputState" class="form-control">
              <option selected>西元年</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <select id="inputState" class="form-control">
              <option selected>月</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <select id="inputState" class="form-control">
              <option selected>日</option>
              <option>...</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">體重</div>
          <div class="form-group col-md-6">
            <input type="email" class="form-control" id="inputEmail4" placeholder="請輸入體重">
          </div>
          <div class="form-group col-md-4">公斤</div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">寵物近照</div>
          <div class="form-group col-md-9">
            <input type="email" class="form-control" id="inputEmail4" placeholder="限JPG GIF PNG">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">證明文件</div>
          <div class="form-group col-md-9">
            <select id="inputState" class="form-control">
              <option selected>請選取證明文件</option>
              <option>...</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
          寵物保險起保日
          </div>
          <div class="form-group col-md-3">
            <select id="inputState" class="form-control">
              <option selected>2019</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <select id="inputState" class="form-control">
              <option selected>月</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <select id="inputState" class="form-control">
              <option selected>日</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group">
            本保險為一年期，起保日凌晨0點生效
            <br>
            如寵物在保單生效日起發生一般疾病有30天的等待期，癌症則有90天的等待期，一般意外傷害則不受等待期限制
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                同意自動續保(若未勾選視為不同意)
              </label>
            </div>
          </div>
          <div class="form-group">
            <a href="#">點此看續保費率</a>
            要保人同意自動續約，須回傳自動續約授權書(於訂單成立通知信附件下載)，依條款之約定於保險期間屆滿時，不需再次提供要保資料、證明文件，即可逐年自動辦理續約，並收取續約保險費，保障不中斷，保險公司擁有續保核准權利
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8"></div>
          <div class="form-group col-md-4">
            <h5>保費：{{ programMoney }}</h5>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
      <div id="finalCheckBox" class="form-check col-md-12">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          我已閱讀<a href="https://www.careline.com.tw/CareLineBranding/branding-mbr/policyTerms/viewPdfByKey?key=PetTerms.MingTai&time=20190605101000">保單條款</a> ， 並同意遵守保單條款的條件和除外責任，及上述各聲明事項。我並已閱讀<a href="https://www.careline.com.tw/legal/obligations">保險代理人履行個人資料保護法告知義務內容</a>，瞭解 貴公司蒐集處理或利用本人個人資料之目的及用途。
        </label>
      </div>
  </div>

  <div class="text-center" style="margin: 50px;">
    <h2>主動告知事項</h2>
    <hr>
    <h6 class="text-left">【敬請對下列告知事項應據實告知並親自填寫，如有為隱匿或遺漏不為說明，或為不實的說明，足以影響本公司對危險的估計，依保險法第六十四條規定保險公司得解除契約。】</h6>
    <div class="form-row">
      
      <div class="text-left form-group col-md-2"></div>
      <div class="text-left form-group col-md-8">
        <form>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">否</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">是</label>
          </div>
          1. 是否有投保其他寵物保險？
        </form>
      </div>
      <div class="text-left form-group col-md-2"></div>
      
    </div>
    <div class="form-row">
      <div class="text-left form-group col-md-2"></div>
      <div class="text-left form-group col-md-8">
        <form>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">否</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">是</label>
          </div>
          2. 過去一年內被保險寵物是否服用或施打疫苗（含狂犬病疫苗)？
        </form>
      </div>
      <div class="text-left form-group col-md-2"></div>
    </div>
    <div class="form-row">
      <div class="text-left form-group col-md-2"></div>
      <div class="text-left form-group col-md-8">
        <form>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">否</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">是</label>
          </div>
          3. 被保險寵物最近二個月內是否曾因受傷或生病接受醫師治療、診療或用藥？
        </form>
      </div>
      <div class="text-left form-group col-md-2"></div>
    </div>
    <div class="form-row">
      <div class="text-left form-group col-md-2"></div>
      <div class="text-left form-group col-md-8">
        <form>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">否</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">是</label>
          </div>
          4. 目前被保險寵物身體是否有以下障礙(失明/四肢缺陷/出血、腹瀉/耳聾)？
        </form>
      </div>
      <div class="text-left form-group col-md-2"></div>
    </div>
    <div class="form-row">
      <div class="text-left form-group col-md-2"></div>
      <div class="text-left form-group col-md-8">
        <form>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">否</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">是</label>
          </div>
          5. 被保險寵物投保時如有提供體檢證明，體檢內容是否有異常項目？
        </form>
      </div>
      <div class="text-left form-group col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <button style="width:100%;border-radius:25px; border: 1px solid grey;" type="button" class="btn btn-light">回方案選擇</button>
      </div>
      <div class="col-md-4">
        <button style="width:100%;border-radius:25px;" type="button" class="btn btn-danger">下一步</button>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

