.container{
  color: grey;
}

hr{
  border:  rgb(232, 69, 102) 1px solid;
}

.redWord {
  color: rgb(232, 69, 102);
}

.jumbotron{
  margin-top: 60px;
  height: 300px;
  background-image: url(https://www.careline.com.tw/CareLinePet/Pet//CareLinePet/Pet/assets/progressBar/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#stage1{
  background-color: rgb(232, 69, 102);
  -webkit-mask: url("https://www.careline.com.tw/CareLinePet/Pet/assets/progressBar/貓的資料.svg#貓的資料") no-repeat center;
  mask: url("https://www.careline.com.tw/CareLinePet/Pet/assets/progressBar/貓的資料.svg#貓的資料") no-repeat center;
}

#stage2{
  background-color: rgb(232, 69, 102);
  -webkit-mask: url("https://www.careline.com.tw/CareLinePet/Pet/assets/progressBar/主人資料.svg#主人資料") no-repeat center;
  mask: url("https://www.careline.com.tw/CareLinePet/Pet/assets/progressBar/主人資料.svg#主人資料") no-repeat center;
}

#stage3{
  background-color: grey;
  -webkit-mask: url("https://www.careline.com.tw/CareLinePet/Pet/assets/progressBar/%E8%A8%82%E8%B3%BC%E5%AE%8C%E6%88%90.svg#%E8%A8%82%E8%B3%BC%E5%AE%8C%E6%88%90") no-repeat center;
  mask: url("https://www.careline.com.tw/CareLinePet/Pet/assets/progressBar/%E8%A8%82%E8%B3%BC%E5%AE%8C%E6%88%90.svg#%E8%A8%82%E8%B3%BC%E5%AE%8C%E6%88%90") no-repeat center;
}

#stage4{
  background-color: grey;
  -webkit-mask: url("https://www.careline.com.tw/CareLinePet/Pet/assets/progressBar/%E8%B3%87%E6%96%99%E7%A2%BA%E8%AA%8D%E5%8F%8A%E7%B9%B3%E8%B2%BB.svg#%E8%B3%87%E6%96%99%E7%A2%BA%E8%AA%8D%E5%8F%8A%E7%B9%B3%E8%B2%BB") no-repeat center;
  mask: url("https://www.careline.com.tw/CareLinePet/Pet/assets/progressBar/%E8%B3%87%E6%96%99%E7%A2%BA%E8%AA%8D%E5%8F%8A%E7%B9%B3%E8%B2%BB.svg#%E8%B3%87%E6%96%99%E7%A2%BA%E8%AA%8D%E5%8F%8A%E7%B9%B3%E8%B2%BB") no-repeat center;
}


.container > h2{
  text-align: center;
}

.form-group > input{
  border-radius: 25px !important;
  height: 50px;
}

.form-group > select{
  border-radius: 25px !important;
  height: 50px;
}

#finalCheckBox{
  padding: 20px 50px;
  border: 2px solid grey;
  border-radius: 100px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
  background-color: rgb(232, 69, 102);
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: rgb(232, 69, 102);
    border-radius: 50%;
}


/* form required */
.alert-danger{
  border-radius: 25px;
}