<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://www.careline.com.tw/CareLinePet/Pet/assets/layout/images/grey_logo_v2.png" height="50" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          旅平險
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">基本保險</a>
          <a class="dropdown-item" href="#">進階保險</a>
          <a class="dropdown-item" href="#">全方位保險</a>
          <a class="dropdown-item" href="#">國內旅平險</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          寵物保險
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">安心保險</a>
          <a class="dropdown-item" href="#">全方位保險</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          租車保險
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">5萬車損</a>
          <a class="dropdown-item" href="#">20萬車損</a>
          <a class="dropdown-item" href="#">30萬車損</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">機車保險</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">凱萊百科</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">熱門活動</a>
      </li>
    </ul>
  </div>
  <button class="btn btn-sm btn-outline-secondary" type="button">會員專區</button>
</nav>

<router-outlet></router-outlet>

<div class="jumbotron jumbotron-fluid" style="background-color: rgb(247, 247, 247)">
  <div class="container">
    <div class="row">
      <div class="col-lg col-md-3 text-center">
        <a href="https://www.careline.com.tw/story">
          <img src="https://www.careline.com.tw/CareLineBranding/branding-mbr/image/footer/1">
          <h5>凱的故事</h5>
        </a>
      </div>
      <div class="col-lg col-md-3 text-center">
        <a href="https://www.careline.com.tw/aboutus/desktop">
          <img src="https://www.careline.com.tw/CareLineBranding/branding-mbr/image/footer/8">
          <h5>關於我們</h5>
        </a>
      </div>
      <div class="col-lg col-md-3 text-center">
        <a href="https://www.careline.com.tw/policy">
          <img src="https://www.careline.com.tw/CareLineBranding/branding-mbr/image/footer/9">
          <h5>保單條款</h5>
        </a>
      </div>
      <div class="col-lg col-md-3 text-center">
        <a href="https://www.careline.com.tw/faq/category/pet">
          <img src="https://www.careline.com.tw/CareLineBranding/branding-mbr/image/footer/10">
          <h5>常見問題</h5>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid" style="background-color: rgb(175, 175, 175)">
  <div class="container">
    <div class="row">
      <h5 class="col-lg col-md-6 col-sm-12 text-center">快速連結</h5>
      <h5 class="col-lg col-md-4 col-sm-12 text-center">免費客服專線</h5>
      <h5 class="col-lg col-md-2 col-sm-12 text-center">聯絡我們</h5>
    </div>
  </div>
</div>