.redWord {
  color: rgb(232, 69, 102);
}

hr{
  border:  rgb(232, 69, 102) 1px solid;
}

.littleIcon{
  font-size: 3em;
  width: 1.5em;
  height: 1.5em;
  position:absolute;
  top: -60px;
  left: 0;
  right: 0;
  margin: auto;
  background: white;
  border-radius: 50%;
  box-shadow: rgb(239, 239, 239) -3px 1px 4px 0px, rgb(193, 193, 193) 2px 4px 3px 0px;
}

.jumbotron{
  margin-top: 60px;
  height: 300px;
  background-image: url(https://www.careline.com.tw/CareLinePet/Pet//CareLinePet/Pet/assets/progressBar/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#stage1{
  background-color: rgb(232, 69, 102);
  -webkit-mask: url("https://www.careline.com.tw/CareLinePet/Pet/assets/progressBar/貓的資料.svg#貓的資料") no-repeat center;
  mask: url("https://www.careline.com.tw/CareLinePet/Pet/assets/progressBar/貓的資料.svg#貓的資料") no-repeat center;
}

#stage2{
  background-color: rgb(232, 69, 102);
  -webkit-mask: url("https://www.careline.com.tw/CareLinePet/Pet/assets/progressBar/主人資料.svg#主人資料") no-repeat center;
  mask: url("https://www.careline.com.tw/CareLinePet/Pet/assets/progressBar/主人資料.svg#主人資料") no-repeat center;
}

#stage3{
  background-color: rgb(232, 69, 102);
  -webkit-mask: url("https://www.careline.com.tw/CareLinePet/Pet/assets/progressBar/%E8%A8%82%E8%B3%BC%E5%AE%8C%E6%88%90.svg#%E8%A8%82%E8%B3%BC%E5%AE%8C%E6%88%90") no-repeat center;
  mask: url("https://www.careline.com.tw/CareLinePet/Pet/assets/progressBar/%E8%A8%82%E8%B3%BC%E5%AE%8C%E6%88%90.svg#%E8%A8%82%E8%B3%BC%E5%AE%8C%E6%88%90") no-repeat center;
}

#stage4{
  background-color: grey;
  -webkit-mask: url("https://www.careline.com.tw/CareLinePet/Pet/assets/progressBar/%E8%B3%87%E6%96%99%E7%A2%BA%E8%AA%8D%E5%8F%8A%E7%B9%B3%E8%B2%BB.svg#%E8%B3%87%E6%96%99%E7%A2%BA%E8%AA%8D%E5%8F%8A%E7%B9%B3%E8%B2%BB") no-repeat center;
  mask: url("https://www.careline.com.tw/CareLinePet/Pet/assets/progressBar/%E8%B3%87%E6%96%99%E7%A2%BA%E8%AA%8D%E5%8F%8A%E7%B9%B3%E8%B2%BB.svg#%E8%B3%87%E6%96%99%E7%A2%BA%E8%AA%8D%E5%8F%8A%E7%B9%B3%E8%B2%BB") no-repeat center;
}


ul{
  list-style-type: none;
  text-align: left;
}

li{
  margin: 5px;
}

.cardBodyTop{
  height: 250px;
}

.catImage{
  width:200px;
  height: 200px;
  border-radius: 50%;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: rgb(232, 69, 102);
    border-radius: 50%;
}