<div class="jumbotron jumbotron-fluid">
</div>

<div class="container">

  <div class="text-center" style="margin: 50px;">
    <h2>資料確認</h2>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            主人資料
          </div>
          <div class="card-body">
            <ul>
              <li>姓名</li>
              <li>身分證字號</li>
              <li>生日</li>
              <li>Email</li>
              <li>行動電話</li>
              <li>地址</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            寵物資料
          </div>
          <div class="card-body">
            <ul>
              <li>暱稱</li>
              <li>種類</li>
              <li>品種</li>
              <li>性別</li>
              <li>生日</li>
              <li>體重</li>
              <li>晶片序號</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <h5>保單資料</h5>
    <img class="catImage" src="https://images.unsplash.com/photo-1529778873920-4da4926a72c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=676&q=80">
    
    <img src="https://www.careline.com.tw/CareLinePet/Pet/assets/images/%E5%85%A8%E6%96%B9%E4%BD%8D%E6%96%B9%E6%A1%88v2.png">

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <button style="width:100%;border-radius:25px; border: 1px solid grey;" type="button" class="btn btn-light">回方案選擇</button>
      </div>
      <div class="col-md-4">
        <button style="width:100%;border-radius:25px;" type="button" class="btn btn-danger">下一步</button>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

